// Colors
$blue: #2E94B0;
$indigo: #6574cd;
$purple: #d9d9f3;
$tuscany: #B6A39E;
$dark-vanilla: #D0D1AC;
$aqua: #68EDC6;
$pink: #D25565;
$red: #E8222D;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #2d2d2d;
$black: #000000;
$rich-black: #00100B;
$white: #FFFFFF;
$mauve: #F63E02;
$old-silver: #82877C;
$platinum: #E8E9E7;
$ghost-white: #f8fafc;
$kinopoisk: #ff6600;
$imdb: #f5c518;

// main colors
$main-color: $mauve;
$font-color: $dark;
$background-color: $ghost-white;
$header-background-color: $rich-black;
$footer-background-color: $rich-black;
$layout-loader: $mauve;
$layout-loader-small: $platinum;