// Typography
$font-family-noto-sans: "Noto Sans", sans-serif;
$font-family-ubuntu: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$font-family: $font-family-ubuntu;