.filmography-block {
    width: 100%;
    ul.filmography {
        li {
            @include tablet-portrait-up {
                font-size: 1.125em;
            }
            a {
                padding: 1em;
                @extend %flex-row-center;
                .time {
                    margin-right: .5em;
                    flex: 0 0 5%;
                }
                .movie-link {
                    flex: 1;
                    text-decoration: underline;
                    @include phone-only {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &__original {
                        @extend .cursive;
                        margin: 0;
                    }
                }
                &:hover {
                    color: $main-color;
                }
            }
            &:nth-child(even) {
                background: #F4F1DE;
            }
        }
    }
}