.info {
    // width: 100%;
    // flex: 1;
    .main-info {
        font-size: 1.2em;
        @include phone-only {
            font-size: 1em;
        }
        &__year {

        }
        &__country {
            margin-right: 1em;
            &:before {
                content: '\0028';
            }
            &:after {
                content: '\0029';
            }
            @include comma;
        }
        &__raiting {
            margin-right: 1em;
        }
        &__time {

        }
        &__genre {
            margin: .5em 0;
            @include comma;
        }
        // Person Styles
        &__age {
            margin-right: 1em;
        }
        &__height {
            margin-right: 1em;
        }
        .demography {
            &:before {
                content: '\0028';
            }
            &:after {
                content: '\0029';
            }
            @include comma;
        }
        &__date {
            &__birth {

            }
            &__death {
                &:before {
                    content: '\2014';
                }

            }
        }
        &__geo {

        }
        &__profession {
            margin: .5em 0;
            @include comma;
        }
    }
    .other-info {
        &__director {
            margin: .5em 0;
            &__label {
                margin-right: .5em;
            }
            &__value {
                @include comma;
            }
        }
        &__actor {
            margin: .5em 0;
            &__label {
                margin-right: .5em;
            }
            &__value {
                @include comma;
            }
        }
    }
}